:root {
--font-family-primary: 'Vollkorn', serif;
--font-family-secondary: 'PT Sans', sans-serif;

--font-size-title: 32px;
--line-height-title: 1.4;
--font-size-caption: 14px;
--line-height-caption: 1.2;

--color-text: #222022;
--color-highlight-primary: #FFEF7E;
--color-highlight-secondary: #B7F9E9;
--border-radius-primary: 32px; 
}

body {
}

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .8rem;
}

.tag-medium {
    background: rgb(22, 160, 133);
    // background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

* {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

@mixin mediaBig {
@media (min-width: 576px) {
    @content;
}
}

@include mediaBig {
:root {
    --font-size-title: 40px;
}  
}

.card {
max-width: 555px;
max-height: 555px;
border-radius: var(--border-radius-primary);
box-shadow: 24px 24px 80px rgba(0,0,0,0.5);
padding: 20px 20px 28px 20px;
box-sizing: border-box;
margin: 20px;
display: flex;
flex-direction: row;

@include mediaBig {
    flex-direction: row;
    align-items: center;
    margin: 40px;
    padding: 32px;
}
}

.card__image {
width: 100%;
max-height: 300px;
border-radius: var(--border-radius-primary);
object-fit: cover;
margin-bottom: 18px;

@include mediaBig {
    width: 45%;
    max-height: none;
    min-height: 400px;
    margin-bottom: 0;
}
}

.card__content {
@include mediaBig {
    padding-left: 40px;
    max-width: 700px; /* width required for text-overflow to work */
    white-space: normal;
    max-height: 500px;
    min-height: 500px;
    overflow: hidden;;
    text-overflow: clip;
}
}

.card__title:hover {
    font-size: 30px;
}

.card__date {
display: block;
font-family: var(--font-family-secondary);
font-size: var(--font-size-caption);
line-height: var(--line-height-caption);
text-transform: uppercase;
color: var(--color-text);
margin-bottom: 6px;

@include mediaBig {
    margin-bottom: 8px;
}
}
a {
    text-decoration: none;
}
.card__title {
font-family: var(--font-family-primary);
font-size: var(--font-size-title);
line-height: var(--line-height-title);
color: var(--color-text);
box-decoration-break: clone;
background-image: linear-gradient(90deg, rgb(22, 160, 133), #b7f9e900);
background-size: 100% 5%;
background-repeat: no-repeat;
background-position: 0 85%;
padding: 0 4px;
margin-left: -4px;
}
