.link {
    text-decoration: none;
    font-family: var(--font-family-primary);
    // font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    color: var(--color-text);
    box-decoration-break: clone;
    background-image: linear-gradient(90deg, rgb(22, 160, 133), #b7f9e900);
    background-size: 100% 5%;
    background-repeat: no-repeat;
    background-position: 0 85%;
    padding: 0 4px;
    margin-left: -4px;
    font-size: x-large;
}

.link:hover {
    font-size: xx-large;
}