.newsCard {
    position: relative;
    width: 500px;
    max-width: 300px;
    padding: 16px;
    height: 250px;
    margin: 5rem auto;
    opacity: 0.5;
    color:#efe4e4;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
}

.wrappa {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4px;
}

.newsCaption {
    opacity: .0;
    color: beige;
    text-align: center;
    list-style-type: none;
    overflow:hidden;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 40px;
        -webkit-transform: translateY(80%);
            transform: translateY(80%);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
}

.newsCaption-title {
    font-size: xxx-large;
}

.newsCaption-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #efe4e4;
    font-size: large;
}
:hover .newsCaption-link{
    text-decoration: underline;
}

.news-Slide-up:hover .newsCaption {
    opacity: 0.8;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
    background-size: 100% 5%;
}
.news-Slide-up:hover .newsCaption-title {
    font-size: larger;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;

}
